<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>To Do Manager</title>
</head>
<body>
    <div class="container">
        <h1 class="title">To Do Manager</h1>
        
        <div class="fomrs">
            <form action="/" method="post">
        
                <div class="">
                    <input type="text" name="homework" placeholder="Enter a homework" class="form-control">
                </div>
                <button type="submit" class="btn">Add</button>
        
            </form>
        </div>
        <ul>
            <% item.forEach(element => { %>
                <div class="">
                <li><%= element.item %> </li>
                    <a class="link" href="/delete/<%= element._id %> ">Delete</a>
                </div>
            <% }) %>
        </ul>
    </div>
</body>
</html>