@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    background-color: #8758FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px #000;
}

.title{
    text-align: center;
    position: relative;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.fomrs{
    text-align: center;
}

.label{
    color: #E3DEDC;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;    
}

.form-control{
    color: gray;

    font-size: 1.5rem;
    border: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #8758FF;
    color: white;
    font-size: 1.5rem;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #ABD9FF;
}

ul{
    padding-bottom: 30px;
}

li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
}

a.link{
    float: right;
    margin-right: 20px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    background-color: #D67148;
    color: white;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: 0.3s;
    padding: 5px;

}

a.link:hover{
    background-color: red;
}